.box {
    width: 500px;
    height: 500px;
    background-image: url("https://pbs.twimg.com/media/DLry2ICX4AAzXsX?format=jpg&name=small");
    font-size: 300%;
    text-align: center;
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;  /* <--- Change me! */
}